src/main/resources/xsd/kaiser_incoming.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 (http://www.altova.com) by Srini (Abc) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<!-- Begin KP Order - RootElement -->
	<xs:complexType name="KP_Order">
		<xs:sequence>
			<xs:element name="Order_Header" type="Order_Header"/>
			<xs:element name="Order_Equipment" type="Order_Equipment" maxOccurs="unbounded"/>
			<xs:element name="Delivery_Addresses" type="Delivery_Addresses" maxOccurs="unbounded"/>
			<xs:element name="Order_Notes" type="Order_Notes" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="KP_Order" type="KP_Order"/>
	<!-- End of KP Order section -->
	<!-- Begin Order Header Element -->
	<xs:complexType name="Order_Header">
		<xs:sequence>
			<xs:element name="Order" type="Order"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End of Order Header Element -->
	<!-- Begin of Order Element -->
	<xs:complexType name="Order">
		<xs:sequence>
			<xs:element name="Vendor_ID" type="stringType15"/>
			<xs:element name="KP_Order_ID" type="stringType15"/>
			<xs:element name="Vendor_Order_ID" type="stringType15" minOccurs="0"/>
			<xs:element name="Notification_Sent_Date" type="integerType8"/>
			<xs:element name="Notification_Sent_Time" type="integerType6"/>
			<xs:element name="Order_Location" type="stringType3"/>
			<xs:element name="Transaction_Type" type="stringType15"/>
			<xs:element name="Patient" type="PatientType"/>
			<xs:element name="Referring_Physician" type="PhysicianType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Diagnosis">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ICD_CD" type="stringType8"/>
						<xs:element name="ICD_IND" type="integerType1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="POS_Type_Code" type="stringType2"/>
			<xs:element name="Generic_1" type="stringType25" minOccurs="0"/>
			<xs:element name="Generic_2" type="stringType25" minOccurs="0"/>
			<xs:element name="Generic_3" type="stringType25" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- End Order Element -->

	<!-- Begin of  Order Equipment -->
	<xs:complexType name="Order_Equipment">
		<xs:sequence>
			<xs:element name="Order_Equipment_Line" type="Order_Equipment_Line" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End of  Order Equipment  -->
	<!-- Begin of  Delivery Addresses -->
	<xs:complexType name="Delivery_Addresses">
		<xs:sequence>
			<xs:element name="Delivery_Address" type="Delivery_AddressType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End of Delivery Addresses -->
	<xs:complexType name="Order_Notes">
		<xs:sequence>
			<xs:element name="Order_Note" type="Order_Note" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--Begin of Order Equipment LIne Details -->
	<xs:complexType name="Order_Equipment_Line">
		<xs:sequence>
			<xs:element name="Order_Line" type="integerType3"/>
			<xs:element name="Line_Item_Referral_ID" type="stringType15"/>
			<xs:element name="Line_Address_Type" type="stringType1"/>
			<xs:element name="Line_Coverage" type="stringType5" minOccurs="0"/>
			<xs:element name="Line_Curr_Pay_State" type="stringType1" minOccurs="0"/>
			<xs:element name="Line_Item_Code" type="stringType5"/>
			<xs:element name="Line_Item_Description" type="stringType40"/>
			<xs:element name="Line_Item_Soft_Good_HC_ID" type="stringType20" minOccurs="0"/>
			<xs:element name="Line_Item_Modifier_Code" type="stringType2"/>
			<xs:element name="Request_Type" type="stringType1"/>
			<xs:element name="Line_Item_Quantity" type="integerType7"/>
			<xs:element name="Line_Service_Start_Date" type="integerType8"/>
			<xs:element name="Line_Service_Expiration_Date" type="integerType8"/>
			<xs:element name="Line_Duration_Unit" type="stringType1"/>
			<xs:element name="Line_Duration_Of_Use" type="integerType3"/>
			<xs:element name="Line_Delivery_Type" type="stringType1"/>
			<xs:element name="Line_Notes" type="Line_Notes" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Pricing_Information" type="Pricing_Information" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Retrieval_Request_Line" type="Retrieval_Request_Line" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Pricing_Information">
		<xs:sequence>
			<xs:element name="Line_CoPay_Method" type="stringType1" minOccurs="0"/>
			<xs:element name="Line_CoPay_Amount" type="decimalType6" minOccurs="0"/>
			<xs:element name="Line_Member_Liability" type="stringType10"/>
			<xs:element name="Line_KP_Share" type="stringType10"/>
			<xs:element name="Line_Medicare_Share" type="stringType10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Retrieval_Request_Line">
		<xs:sequence>
			<xs:element name="Line_Retrieval_Date" type="integerType8"/>
			<xs:element name="Line_Retrieval_Reason" type="stringType2" minOccurs="0"/>
			<xs:element name="Line_Retrieval_Type" type="stringType1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
				
	<!--End of Order Equipment Line -->
	<xs:complexType name="Line_Notes">
		<xs:sequence>
			<xs:element name="Line_Note" type="Line_Note" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Line_Note">
		<xs:sequence>
			<xs:element name="Line_Note_ID" type="integerType3" minOccurs="0"/>
			<xs:element name="Line_Note_Text" type="stringType68" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--Begin of Delivery Addresss -->
	<xs:complexType name="Delivery_AddressType">
		<xs:sequence>
			<xs:element name="Address_Type" type="stringType1"/>
			<xs:element name="Contact_Person" type="Contact_PersonType" minOccurs="0"/>
			<xs:element name="Address" type="AddressType"/>
			<xs:element name="Primary_Phone" type="stringType10"/>
			<xs:element name="Secondary_Phone" type="stringType10" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Order_Note">
		<xs:sequence>
			<xs:element name="Order_Note_ID" type="integerType2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Order_Note_Text" type="stringType68" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--Begin of Contact Person -->
	<xs:complexType name="Contact_PersonType">
		<xs:sequence>
			<xs:element name="Name" type="NameType"/>
		</xs:sequence>
	</xs:complexType>
	<!--End of Contact Person -->
	<!--Begin of Physician-->
	<xs:complexType name="PhysicianType">
		<xs:sequence>
			<xs:element name="Name" type="NameType" minOccurs="0"/>
			<xs:element name="UPIN" type="stringType6" minOccurs="0"/>
			<xs:element name="NPI" type="stringType10" minOccurs="0"/>
			<xs:element name="Generic_1" type="stringType25" minOccurs="0"/>
			<xs:element name="Generic_2" type="stringType25" minOccurs="0"/>
			<xs:element name="Generic_3" type="stringType25" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--Begin of Patient -->
	<xs:complexType name="PatientType">
		<xs:sequence>
			<xs:element name="MRN" type="stringType20"/>
			<xs:element name="Name" type="NameType"/>
			<xs:element name="Address" type="AddressType"/>
			<xs:element name="Communication_Device" type="Communication_DeviceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DOB" type="integerType8"/>
			<xs:element name="Gender" type="stringType1"/>
			<xs:element name="Coverages" type="CoveragesType"/>
			<xs:element name="Height" type="decimalType"/>
			<xs:element name="Weight" type="decimalType"/>
			<xs:element name="SPO2" type="decimalType" minOccurs="0"/>
			<xs:element name="Written_Lang_Pref" type="stringType25"/>
			<xs:element name="Spoken_Lang_Pref" type="stringType25"/>
			<xs:element name="Interpreter_Rq" type="stringType1"/>
			<xs:element name="KP_Client_ID_Number" type="stringType25"/>
			<xs:element name="Language_Line_Number" type="stringType25"/>
			<xs:element name="ASL_Number" type="stringType25"/>
			<xs:element name="Generic_1" type="stringType25" minOccurs="0"/>
			<xs:element name="Generic_2" type="stringType25" minOccurs="0"/>
			<xs:element name="Generic_3" type="stringType25" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--End of Patient Element -->
	<!--Begin of Coverages Element -->
	<xs:complexType name="Communication_DeviceType">
		<xs:sequence>
			<xs:element name="Device_Line" type="stringType2" minOccurs="0"/>
			<xs:element name="Device_Number" type="integerType5" minOccurs="0"/>
			<xs:element name="Extension_Number" type="integerType5" minOccurs="0"/>
			<xs:element name="Device_Location" type="stringType1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--End of Coverages Element -->
	<!--Begin of Coverages Element -->
	<xs:complexType name="CoveragesType">
		<xs:sequence>
			<xs:element name="Coverage" type="stringType25"/>
			<xs:element name="Coverage_Line" type="stringType2"/>
			<xs:element name="Visiting_Member" type="stringType10" minOccurs="0"/>
			<xs:element name="Payor_Group" type="stringType10"/>
			<xs:element name="MBI" type="stringType12" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--End of Coverages Element -->
	<!-- Begin of Name Element-->
	<xs:complexType name="NameType">
		<xs:sequence>
			<xs:element name="First" type="stringType20"/>
			<xs:element name="Middle" type="stringType20" minOccurs="0"/>
			<xs:element name="Last" type="stringType30"/>
			<xs:element name="Suffix" type="stringType5" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--End of Name Element-->
	<!--Begin of Address Element-->
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="Address_Business_Name" type="stringType40" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Address_Line_1" type="stringType40"/>
			<xs:element name="Address_Line_2" type="stringType40" minOccurs="0"/>
			<xs:element name="City" type="stringType25"/>
			<xs:element name="State" type="stateType"/>
			<xs:element name="Zip" type="zipCode"/>
		</xs:sequence>
	</xs:complexType>
	<!--End of Address Element-->
	<xs:simpleType name="stringType68">
		<xs:restriction base="xs:string">
			<xs:maxLength value="68"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType40">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType25">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType12">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType8">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType6">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="decimalType">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="decimalType6">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="6"/>
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integerType10">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integerType8">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integerType7">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integerType6">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integerType5">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integerType2">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integerType3">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integerType1">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stateType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="zipCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}(-[0-9]{4})?"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>